nav
    transition: opacity .95s ease-in-out

    &.fade
        opacity: .1

.pages-container
    transition: background-color .95s ease-in-out

.focus-mode
    background: black
    background-blend-mode: darken
