@font-face
    font-family: "Owners Wide Bold"
    font-weight: 700
    font-style: regular
    font-display: swap
    src: url('../fonts/owners-bold-wide/owners-text/woff2/OwnersWide-Bold.woff2') format('woff2'), url('../fonts/owners-bold-wide/owners-text/woff/OwnersWide-Bold.woff') format('woff')
