section
    padding: 6rem 4rem 1rem
    min-height: 75vh

    &.scroll-hint-container
        height: 200px
        min-height: 200px

    & p
        font-family: Tahoma, sans-serif
        font-size: 18px
        text-transform: uppercase

    & p.left
        padding-right: 60%

    & p.right
        padding-left: 60%

    &.title-section
        font-family: Owners Wide Bold

        h1
            font-size: 100px
        h3
            font-size: 20px
