#cast

    #cast-container
        display: flex
        flex-wrap: wrap
        justify-content: center

    .cast-person
        flex: 0 1 50%
        box-sizing: border-box
        padding: 0 20px
        text-align: center
        vertical-align: middle
        justify-content: center
        align-items: center
        height: 60vh
        max-height: 60vmin

        .headshot
            width: 90%
            height: 90%
            overflow: hidden
            margin: 0 auto

            img
                width: 80%
                height: 100%
                object-fit: cover
                cursor: pointer

        .cast-person-content
            margin-bottom: 2em
            h3
                margin-top: 1.2em
                font-size: 1.4em
        p
            margin: 0 auto
            display: none

    @media (max-width: 860px)
        .cast-person
            flex-basis: 100%
